.navbar {
    background-color: #1A3C40;
    .header {
        font-size: xx-large;
    }
    .link, .header {
        color: white;
        text-decoration: none;
        font-weight: bolder;
        margin-left: 10px;
    }
    .link {
        background-color: #417D7A;
        padding: 4px 10px;
        border-radius: 20px;
    }
    .link:hover {
        color: #1A3C40;
    }
}

.posting {
    background-color: #827397;
    padding: 5px;
    border-radius: 10px;
    .post, .comment {
        border-radius: 10px;
        background-color: #EDE6DB;
        padding: 5px 20px;
    }
    .post {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comment{
        p {
            border: 1px solid black;
            padding: 10px;
        }
    }
    .post-title {
        font-size: xx-large;
        font-weight: bold;
    }
}

.account {
    background-color: #EDE6DB;
    padding: 10px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    .title {
        font-size: xx-large;
    }
}

.post-form {
    background-color: #827397;
    padding: 5px;
    border-radius: 10px;
    form {
        background-color: #EDE6DB;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        div {
            width: 80%;
        }
    }
}

.user-info {
    background-color: #827397;
    padding: 10px;
    border-radius: 10px;
    height: 300px;
    div {
        background-color: #EDE6DB;
        height: 100%;
        border-radius: 10px;
        padding: 20px;
    }
}

.quote {
    background-color: #417D7A;
    color: #EDE6DB;
    div {
        background-color: #1A3C40;
        border-radius: 10px;
    }
}

button {
    background-color: #417D7A !important;
    border: none !important;
}
button:hover {
    background-color: #827397 !important;
    color: black !important;
}